@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Meeting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/">Home</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <AuthorizeView>
                        <Authorized>
                            @context.User.Identity.Name
                            | <a href="Logout">Oturumu kapat</a>
                        </Authorized>
                        <NotAuthorized>
                            <a href="Login">Oturum aç</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </span>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Meeting
    </div>
</footer>