@using Meeting.BlazorUI.Data

<div class="spinner-grow text-info d-none" id="membersSpinner" style="width:60px; height:60px;" role="status">
    <span class="sr-only">Yükleniyor...</span>
</div>

@if (Members != null && Members.Count() == 0)
{
    <span class="text-secondary">Henüz üyesi bulunmuyor.</span>
}
else if (Members != null && Members.Count() > 0)
{
    <ul class="list-group list-group-flush">
        @foreach (var member in Members)
        {
            <li class="list-group-item border-0">@member.MemberName</li>
        }
    </ul>
}
@code {

    [Parameter]
    public GetMembersResponse[] Members { get; set; }
}
