@page "/"

<div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4">Meeting'i Keşfet</h1>
            <div>
                <i class="fas fa-calendar-alt"></i>
                <a href="explore-events">Yaklaşan Etkinlikler</a>

                <i class="fas fa-users"></i>
                <a href="explore-groups">Grupları Keşfet</a>
            </div>
        </div>
    </div>
</div>